/* CSS declarations go here */
html, body{
	margin:0;
	buffer:0;
	height:100%;
	width:100%;
}
#login{
	height:100%;
	width:100%;
	background:#123456;
}
.jumbotron{
	position:absolute;
	top:10%;
	left:10%;
	height:60%;
	width:80%;
	text-align:center;
}
#login-buttons{
	position:absolute;
	width:20%;
	top:60%;
	left:40%;
}
#logout{
	position:absolute;
	right:30px;
}
.navbar-brand{
	position: absolute;
	left:10px;
}
iframe{
	display: block;
	margin: auto;
	margin-bottom : 50px;
	position: relative;
	/*left: -10%; may look better*/
}